<!DOCTYPE html>
{% extends "index.html" %}
{% load static %}

{% block main_content %}
<div class="container-fluid justify-content-center" id="book-list">
    <h1>Books</h1>
    <table class="table" style="margin-top: 20px;" >
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Publication Date</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.publication_date }}</td>
                <td>{{ book.quantity }}</td>
                <td>
                    <button class="btn btn-danger" 
                        hx-post="{% url 'decrease_quantity' book.id %}" 
                        hx-target =".table"
                        style="color: aliceblue;">Decrease Quantity
                            <!-- <a href="{% url 'decrease_quantity' book.id %}" style="color: aliceblue;">Decrease Quantity</a> -->
                    </button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No books available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-primary">
        <a href="{% url 'add_book' %}" style="color: antiquewhite;">Add New Book</a>
    </button>
</div>
{% endblock main_content %}