<!DOCTYPE html>
{% extends "index.html" %}
{% load static %}

{% block main_content %}
<div class="jumbotron">
    <div class="container">
        <img src="{% static '/library_2.icon.png' %}" alt="LIMS" height="100" class="round float-start">
        <h1 class="display-4">
            Hello Readers !
        </h1>
        <p>
            Welcome to KUHLE Library. We have a large collection of books to cater the reading needs
            of all kind of readers.
        </p>
        <button type="button" class="btn btn-info">
            <a href="#" role="button"> Browse our collection</a>
        </button>
    </div>
</div>
{% endblock main_content %}